.more-container
.more-overlay
  height: 50vh
  margin-top: -22rem

.more-bg
  background: #FFF9F1
  opacity: .9
  height: 100%
  width: 100%

.desktop-left-bg
  display: none

.more-content
  position: absolute
  z-index: 1
  bottom: 4rem
  left: 5rem

.more-button
  width: 8rem
  height: 3rem
  background: linear-gradient(246.24deg, #b5782f 0%, #e4a252 50%, #b5782f 100%)
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 0px
  border: none
  border-radius: 9px
  font-size: 1rem
  font-family: Main
  font-weight: 900

h1
  font-size: 4rem
  margin: 0px
  font-family: Main

p
  width: 23rem
  font-size: 1rem

.desktop-left-container

@media (min-width: 720px)
  .more-overlay
    height: 100vh
    margin-top: -100vh
    right: 0px
    z-index: 100
  .more-bg
    width: 45%
    height: 100vh
    margin-left: 55%
    opacity: 1
    background: #FFF9F1
  .more-content
    top: 40%
    left: 60%
  .desktop-left-container
    height: 100vh
    width: 15vw
    top: 0rem
    position: absolute
    display: flex
    p
      font-size: 2.5rem
      z-index: 1
      font-family: Main
      margin-left: 2rem
      margin-top: 6rem
      font-weight: 900
  p
    width: 30rem
  .desktop-left-bg
    background: #FFF9F1
    opacity: .85
    height: 100%
    width: 100%
    display: flex
    position: absolute
  h1
    font-size: 8rem
