.art-bg
  background: url('../../assets/images/articleBg.png')
  height: 93vh
  width: 100%
  background-size: cover
.art-container
  margin-left: 3rem
.main-header
  color: #e6e6e6
  font-family: Main
  font-size: 3rem
  margin-top: 0rem
  padding-top: 2rem
.art-mapped-container
  margin-top: 2rem
  margin-bottom: 2rem
.art-header
  font-size: 1.5rem
  color: #cccccc
  font-weight: 100
  line-height: 30px
  margin: 0px
.art-description
  font-size: 1rem
  color: #858585
.art-button
  width: 8rem
  height: 3rem
  background: linear-gradient(246.24deg, #d69648 0%, #f0af5f 50%, #d69648 100%)
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  padding: 0px
  border: none
  border-radius: 9px
  font-size: 1.15rem
  font-family: nunito-regular
  color: white
