.modal-container, .modal-container-off
  height: 15rem
  width: 100%
  background: #414141
  position: absolute
  margin-top: 19rem
  z-index: 3
  opacity: 0
  animation: fade-in-nav .3s forwards

.modal-container-off
  opacity: 1
  animation: fade-off-nav .3s forwards

@keyframes fade-off-nav
  0%
    opacity: 1
  100%
    opacity: 0

.link-p
  color: white
  text-decoration: none
  font-size: 1rem
  font-family: Main
  height: 33.3%
  width: 100%
  border-top: 1px solid black
  display: flex
  align-items: center
  justify-content: center
