.nav-container
  justify-content: flex-end
  align-items: center
  position: relative
  display: flex
  z-index: 2

.nav-bg
  height: 4rem
  width: 100%

.help-me
  font-size: 1.6rem
  // right: 0px
  width: 75%
  font-family: Main
  font-weight: 900
  // position: absolute

.sandwich-icon
  margin-right: 2.5rem

.mobile-nav-container
  justify-content: flex-end
  align-items: center
  position: relative
  z-index: 2
  display: flex
  width: 100%

.desktop-nav-container
  display: none
  background: #fff9f1
  div
    height: 6rem
    display: flex
    align-items: center

.link-d
  font-size: 1.2rem
  text-decoration: none
  color: #000
  font-family: nunito-bold
  height: 6.1rem
  display: flex
  align-items: center

.link-d:hover
  color: #646464

@media (min-width: 900px)
  .mobile-nav-container
    display: none
  .desktop-nav-container
    display: flex
    justify-content: flex-end
    div
      margin-right: 2rem
  .nav-bg
    position: absolute
    right: 0px
    width: 40%
    height: 6rem
    border-bottom: 2px solid #c2c2c2

@media (min-width: 1000px)
  .desktop-nav-container
    div
      margin-right: 3rem

@media (min-width: 1200px)
  .desktop-nav-container
    div
      margin-right: 5rem
