.animals-container
  height: 92.5vh
  background: url('../../../assets/images/lionBg2.png')
  width: 100%
  background-size: cover

.image-slider
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%
  img
    object-fit: cover
    height: 13rem
    border-radius: .5rem
    width: 13rem

.image1
  margin-bottom: 10rem

.image2
  margin-top: 10rem
