.animals-container
  background: url('../../../assets/images/lionBg2.png')
  height: 100vh
  width: 100%
  background-size: cover
  background-position: 50%

.image-slider-mobile
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

body
  overflow-x: hidden

.image1M, .image2M
  height: 13rem
  width: 13rem
  object-fit: cover
  border-radius: 10px
  cursor: pointer

.image1M
  margin-bottom: 10rem
  animation: slide-right 10s infinite cubic-bezier(0,.76,1,.24)
.image2M
  margin-top: 10rem
  animation: slide-left 13s infinite cubic-bezier(0,.76,1,.24)

@keyframes slide-right
  0%
    transform: translateX(-75vw)
  90%
    transform: translateX(75vw)
  100%
    transform: translateX(75vw)

@keyframes slide-left
  0%
    transform: translateX(75vw)
  30%
    transform: translateX(75vw)
  100%
    transform: translateX(-75vw)

.image-slider-desktop
  display: none

@media (min-width: 720px)
  .image1M, .image2M
    height: 17rem
    width: 17rem

@media (min-width: 900px )
  .animals-container
    background: url('../../../assets/images/homeDesktop.png')
    background-size: cover
    height: 100vh
    width: 100%
    background-position: 50%
  .image-slider-desktop
    display: flex
    position: relative
    height: 100%
  .image-slider-mobile
    display: none
