.list-bg
  height: 100%
  width: 100%
  position: relative
  top: 0px

body, html
  background: #393939

.mobile-container
  margin-bottom: -60px
  img
    margin-top: -6rem
    height: 50vh
    width: 100%
    object-fit: cover
    vertical-align: text-bottom

@media (min-width: 900px) 
  .list-bg
    background: url('../../assets/images/viewGallaryDesktop.png')
    background-size: cover
    height: 85vh
  .mobile-container
    display: none
