.list-master-container
  height: 100%
  width: 100%

.list-bg
  height: 100%
  width: 100%
  position: relative
  z-index: 5
  top: 0px

body, html
  background: #393939

.mobile-container
  margin-bottom: -60px
  img
    margin-top: -6rem
    height: 50vh
    width: 100%
    object-fit: cover
    vertical-align: text-bottom

@media (min-width: 900px)
  .list-bg
    background: #FFF9F1

  .mobile-container
    display: none
@media (min-width: 1200px)
  .list-bg
    background: url('../../assets/images/viewGallaryDesktop.png')
    background-size: cover
    background-position: 10% 30%
